<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>操作使用者表</title>
</head>
<body>
    <h2>操作使用者表</h2>
        <form method="POST" action="add/">
        {% csrf_token %} 
        <!-- POST需要CSRF 認證 -->
        使用者名稱：<input type="text" name="username" />
        <br>
        密  碼：<input type="password" name="passwd" />
        <br>
        <button>新增</button>
        </form>
</body>
</html>